@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(199, 199, 199);
    overflow-x: hidden;
}

nav,header{
    height: 10vh;
    background-color:rgb(0, 68, 110);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    position: relative;
}

.config{
    position: absolute;
    right: 2vw;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.pesquisa{
    width: 30vw;
    height: 5vh;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
    font-size: 1em;
    border-radius: 5px;
    padding: 3px;
    border: none;
    padding-right: 30px;
}

.pesquisa::placeholder{
    font-size: 0.9em;
}

.pesquisa::-webkit-search-cancel-button{
    display: none;
}

.pesquisa:focus{
    outline: none;
}

.icon-search{
    color: rgb(100, 100, 100);
    font-size: 1em;
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translate(14.5vw,-50%);
    right: 50%;
    cursor: pointer;
}

.label-pesquisa{
    display: none;
}

.icon-plus{
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.nova:hover{
    animation: girar 700ms forwards ease-in-out;
}

.btn-nova{
    height: 3em;
    width: 3em;
    background-color:rgb(0, 68, 110);
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

/*ANIMAÇÕES*/

@keyframes girar {

    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(-45deg);
    }

    100%{
        transform: rotate(90deg);
    }
}

/*NOTAS*/

iframe{
    margin: 20px 10px 20px 10px;
    width: 430px;
    height: 322px;
}

/*Identificar*/

.identificar-container{
    position: absolute;
    z-index: 3;
    background-color:rgb(0, 37, 59);
    width: 250px;
    height: 300px;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.548);
}

.titulo-identificar{
    text-align: center;
    padding: 10px;
    color: white;
    background-color:rgb(0, 68, 110);
    border-radius: 10px 10px 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
}

.identifica{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: none;
    padding: 3px 3px 3px 20px;
    box-shadow: 1px 1px 10px rgb(0, 87, 141);
}

.identifica:focus{
    outline: none;
}

.envia{
    margin-left: 50%;
    margin-top: 25%;
    transform: translateX(-50%);
    padding: 3px 15px 3px 15px;
    background-color:rgb(0, 68, 110);
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgb(0, 79, 128);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
}

.envia:hover{
    background-color:rgb(0, 37, 59);
    box-shadow: 0px 0px 10px rgb(0, 87, 141);
}

.icon-lock{
    color: rgb(0, 37, 59);
    position: absolute;
    top: 52.5%;
    left: 13%;
    z-index: 5;
    cursor: pointer;
}

.icon-unlocked{
    color: rgb(0, 37, 59);
    position: absolute;
    top: 52.5%;
    left: 13%;
    z-index: 5;
    cursor: pointer;
}

.cancelar{
    position: absolute;
    color: red;
    font-size: 1.1em;
    top: 388px;
    rotate: 45deg;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.xis1{
    left: 373px;
}

.xis2{
    left: 825px;
}

.xis3{
    left: 1273px;
}